# Mac
.DS_Store

# vi, editors
*~
*.swp

# Python pre-compiled
*.pyc

# Python egg build and dist 
*/build/*
*/dist/*
*/SOURCES.txt
*/*.egg-info/*
*.egg-info

# Eclipse
.settings
.project
.pydevproject

*/Products.DataGrid*/*
*/Products.DataGridField-*/*

.eggs
SOURCES.txt
